.nav-link {
  font-family: $montserrat-medium;
  font-size: 12px;
  line-height: 16px;
  color: $base-black;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $base-primary;
  }

  &:active {
    background-color: $base-secondary;
  }
}
